<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.green.gajigaji.comment.CommentMapper">

    <select id="getBoardComment">
        SELECT A.comment_seq AS commentSeq,
        A.comment_board_seq AS commentBoardSeq,
        A.comment_member_seq AS commentMemberSeq,
        C.user_name AS userName,
        A.comment_contents AS commentContents,
        A.input_dt AS inputDt,
        A.update_dt AS updateDt
        FROM party_board_comment A
        INNER JOIN party_member B
        ON A.comment_member_seq = B.member_seq
        INNER JOIN user_master C
        ON B.member_user_seq = C.user_seq
        WHERE comment_board_seq = #{boardSeq}
        ORDER BY comment_seq DESC
        limit #{startIdx}, #{size}
    </select>

    <select id="getTotalCount" resultType="long">
        SELECT count(*) from party_board_comment
        WHERE comment_board_seq = #{boardSeq}
    </select>

    <insert id="postBoardComment">
        INSERT INTO party_board_comment
        SET comment_board_seq = #{commentBoardSeq},
        comment_member_seq = #{commentMemberSeq},
        comment_contents = #{commentContents},
        input_dt = NOW()
    </insert>

    <update id="patchBoardComment">
        UPDATE party_board_comment
        SET comment_contents = #{commentContents},
        update_dt = NOW()
        WHERE
        comment_seq = #{commentSeq}
        AND comment_member_seq = #{commentMemberSeq}
    </update>

    <delete id="deleteBoardComment">
        DELETE FROM party_board_comment
        WHERE
        comment_seq = #{commentSeq}
        AND comment_member_seq = #{commentMemberSeq}
    </delete>
    <select id="getCommentListBoard">
        SELECT comment_seq AS commentSeq
        , comment_board_seq AS commentBoardSeq
        , comment_member_seq AS commentMemberSeq
        , comment_contents AS commentContents
        , input_dt AS inputDt
        , update_dt AS updateDt
        FROM party_board_comment
        WHERE comment_board_seq = #{boardSeq}
    </select>
</mapper>